#transmenu {
  -moz-transition: background 0.6s ease;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
}

#transmenu.transparency {
  background: transparent !important;
  box-shadow: none;
  border-color: transparent !important;
}

#transmenu .navbar-brand {
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#transmenu.transparency .navbar-brand {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff !important;
  border: none;
}

#transmenu.transparency .nav-link, #transmenu.transparency .nav-link.active, #transmenu.transparency .nav-link:focus {
  color: #fff;
  border: none;
  opacity: 1;
}

#transmenu.transparency .nav-link:hover {
  color: #fff;
  opacity: .7;
}

#transmenu .navbar-toggler {
  position: relative;
  height: 35px;
  margin-right: -.75rem;
  border: none;
}

#transmenu .navbar-toggler:focus, #transmenu .navbar-toggler:active {
  outline: 0;
}

#transmenu .navbar-toggler span {
  display: block;
  background-color: #6f6f6e;
  height: 2px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

#transmenu.transparency .navbar-toggler span {
  background: #fff;
}

#transmenu .navbar-toggler span:nth-child(1), #transmenu .navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/* 2 */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 330px;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }
 @font-face {
  font-family: bnazanin;
  src: url(BNazanin.woff);
  }
 p{
  font-family: bnazanin;
 }
 h1{
  font-family: bnazanin;
 }
 h2{
  font-family: bnazanin;
 }
 h3{
  font-family: bnazanin;
 }
 h4{
  font-family: bnazanin;
 }
 h5{
  font-family: bnazanin;
 }
ul{
  font-family: bnazanin;
}
li{
  font-family: bnazanin;
}
a{
  font-family: bnazanin;
}


.accordian {
  width: 1690px;
  height: 60vh;
  overflow: hidden;
  margin: 0 auto;
}

.accordian ul {
  width:100%;
}

.accordian li {
  position: relative;
  display: block;
  width: 395px;
  height: 60vh;
  float: left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  margin-right: 5px;
  border-radius: 10px;
}

.accordian ul:hover li {
  width: 345px;
}

.accordian ul li:hover {
  width: 520px;
}

.accordian li img {
  display: block;
  height: 100%;
  border-radius: 10px;
}

.image_title {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 520px;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
